events { worker_connections 1024; }

http {
  upstream localhost {
    server appName1:3000;
    server appName2:3000;
    server appName3:3000;
  }
  server {
    listen 80;
    server_name localhost;
    location / {
      proxy_pass http://localhost;
      proxy_set_header Host $host;
    }
  }
}